* {
    margin: 0;
    padding: 0;
}

/* Neste caso é selecionado o primeiro parágrafo que vem após o h1 dentro do elemento com classe pai */
.pai h1+p {
    color: red;
}

/* Neste caso é selecionado o primeiro h1 que vem após o parágrafo dentro do elemento com classe pai */
.pai p+h1 {
    color: blue;
}

/* Neste caso é selecionado todos os parágrafos que vem após o h2 dentro do elemento com classe pai */
.pai h2~p {
    color: green;
}

/* Selecionando o elemento que possui o atributo meu-atributo */
[meu-atributo] {
    color: red;
}